@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
  background: rgb(137, 187, 187);
  background: linear-gradient(
    0deg,
    rgba(137, 187, 187, 1) 53%,
    rgba(212, 78, 72, 0.9342649647887324) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-item {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  height: 400px;
  width: 400px;
}

.container-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background-color: #d44e48;
  border: 0;
  border-radius: 4px;
  color: aliceblue;
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  width: 400px;
}

button:active {
  transform: scale(0.98);
}

button:focus {
  outline: none;
}
